.tools{
    width: 100%;
}
.tools li{
    margin-top: 5px;
    margin-left: 10px;
    padding: 10px;
    color: gray;
}
.active{
    background-color: #006838;
    border-radius: 10px;
    margin-left: 10px;
    padding: 20px !important;
    color: white !important;
}